# Imports

In [1]:
import numpy as np
import pandas as pd

# Data wrangling
- Data cleaning
    - Renaming
    - Sorting and reordering
    - Data type conversion
    - Removing duplicate data 
    - Addressing missing or invalid data 
    - Filtering to the desired subset
- Data transformation
    - Wide format
        - Preferred
        - Each observation is a row
        - Each variable is it's own column
    - Long format 
        - Row for each observation of a variable
- Data enrichment
    - Feature engineering
    - Adding new columns
    - Binning
    - Aggregating
    - Resampling

# Get the data

In [2]:
df = pd.read_csv('data/nyc_temperatures.csv')
df.head()

  attributes datatype                 date            station  value
0      H,,S,     TAVG  2018-10-01T00:00:00  GHCND:USW00014732   21.2
1   ,,W,2400     TMAX  2018-10-01T00:00:00  GHCND:USW00014732   25.6
2   ,,W,2400     TMIN  2018-10-01T00:00:00  GHCND:USW00014732   18.3
3      H,,S,     TAVG  2018-10-02T00:00:00  GHCND:USW00014732   22.7
4   ,,W,2400     TMAX  2018-10-02T00:00:00  GHCND:USW00014732   26.1

# Data cleanup

## Rename columns

In [4]:
columns = {
    'value':'temp_C',
    'attributes':'flags'
}
df.rename(columns=columns, inplace=True)
df.head()

      flags datatype                 date            station  temp_C
0     H,,S,     TAVG  2018-10-01T00:00:00  GHCND:USW00014732    21.2
1  ,,W,2400     TMAX  2018-10-01T00:00:00  GHCND:USW00014732    25.6
2  ,,W,2400     TMIN  2018-10-01T00:00:00  GHCND:USW00014732    18.3
3     H,,S,     TAVG  2018-10-02T00:00:00  GHCND:USW00014732    22.7
4  ,,W,2400     TMAX  2018-10-02T00:00:00  GHCND:USW00014732    26.1

## Type conversion

In [5]:
df.dtypes

flags        object
datatype     object
date         object
station      object
temp_C      float64
dtype: object

In [6]:
df = df = pd.read_csv('data/nyc_temperatures.csv', index_col='date', parse_dates=True).tz_localize('EST')
df.head()

                          attributes datatype            station  value
date
2018-10-01 00:00:00-05:00      H,,S,     TAVG  GHCND:USW00014732   21.2
2018-10-01 00:00:00-05:00   ,,W,2400     TMAX  GHCND:USW00014732   25.6
2018-10-01 00:00:00-05:00   ,,W,2400     TMIN  GHCND:USW00014732   18.3
2018-10-02 00:00:00-05:00      H,,S,     TAVG  GHCND:USW00014732   22.7
2018-10-02 00:00:00-05:00   ,,W,2400     TMAX  GHCND:USW00014732   26.1

In [7]:
df.tz_convert('UTC').head()

                          attributes datatype            station  value
date
2018-10-01 05:00:00+00:00      H,,S,     TAVG  GHCND:USW00014732   21.2
2018-10-01 05:00:00+00:00   ,,W,2400     TMAX  GHCND:USW00014732   25.6
2018-10-01 05:00:00+00:00   ,,W,2400     TMIN  GHCND:USW00014732   18.3
2018-10-02 05:00:00+00:00      H,,S,     TAVG  GHCND:USW00014732   22.7
2018-10-02 05:00:00+00:00   ,,W,2400     TMAX  GHCND:USW00014732   26.1

In [9]:
df = df = pd.read_csv('data/nyc_temperatures.csv')

columns = {
    'value':'temp_C',
    'attributes':'flags'
}
df.rename(columns=columns, inplace=True)

df.assign(
    date = pd.to_datetime(df.date),
    temp_F = (df.temp_C * 9/5) + 32,
    inplace = True
)

df.head()

      flags datatype                 date            station  temp_C
0     H,,S,     TAVG  2018-10-01T00:00:00  GHCND:USW00014732    21.2
1  ,,W,2400     TMAX  2018-10-01T00:00:00  GHCND:USW00014732    25.6
2  ,,W,2400     TMIN  2018-10-01T00:00:00  GHCND:USW00014732    18.3
3     H,,S,     TAVG  2018-10-02T00:00:00  GHCND:USW00014732    22.7
4  ,,W,2400     TMAX  2018-10-02T00:00:00  GHCND:USW00014732    26.1

## Reordering, reindexing, sorting

In [10]:
df.sort_values(by='temp_C', ascending=False).head()

       flags datatype                 date            station  temp_C
19  ,,W,2400     TMAX  2018-10-07T00:00:00  GHCND:USW00014732    27.8
28  ,,W,2400     TMAX  2018-10-10T00:00:00  GHCND:USW00014732    27.8
31  ,,W,2400     TMAX  2018-10-11T00:00:00  GHCND:USW00014732    26.7
4   ,,W,2400     TMAX  2018-10-02T00:00:00  GHCND:USW00014732    26.1
10  ,,W,2400     TMAX  2018-10-04T00:00:00  GHCND:USW00014732    26.1

In [11]:
df.nlargest(n=5, columns=['temp_C'])

       flags datatype                 date            station  temp_C
19  ,,W,2400     TMAX  2018-10-07T00:00:00  GHCND:USW00014732    27.8
28  ,,W,2400     TMAX  2018-10-10T00:00:00  GHCND:USW00014732    27.8
31  ,,W,2400     TMAX  2018-10-11T00:00:00  GHCND:USW00014732    26.7
4   ,,W,2400     TMAX  2018-10-02T00:00:00  GHCND:USW00014732    26.1
10  ,,W,2400     TMAX  2018-10-04T00:00:00  GHCND:USW00014732    26.1

df.sort_index()   
df.set_index()   
df.drop(columns=[])   
df.reindex()   

df.T - transpose   

df.pivot() - long to wide format   
df.unstack() - if multi-level index   

df.melt() - wide to long

## Missing or invalid data

df.isnull()   
df.isna()   
df.dropna()  
df.fillna()   
df.interpolate()   

df.drop_duplicates()